.mainNav {
    background-color: #3e3c3c;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

nav li a {
    display: block;
    position: relative;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change link color on hover */
nav li a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown-menu {
    display: none;
    min-width: 160px; 
    position: absolute;
    top: 100%;
    background-color: #3e3c3c;
}

#findMentor:hover .dropdown-menu {
    display:inline-block;
    }

body {
    padding-top: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1, h2, h4 {
    text-align: center;
    
}

.form-control-lg {
    width: 50%;

}

.search {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.results {
    padding: 50px;
    white-space: pre-line;
   
}

.volunteerForm {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Set a max-width if needed */
    margin: auto; /* Center the form */
}

.volunteerForm div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.volunteerForm label {
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.volunteerForm input, textarea {
    padding: 5px; /* Adjust the padding as needed */
    /* Add any other styling you want for the input fields */
    border-radius: 5px ;
}

#submitForm {
    margin-top: 8px;
}

#submitMessage {
    display: none;
    font-size: large;
    text-align: center;
    margin: 50px;
}